<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO SEARCH</title>
</head>
<body>
    <div class="Swith">
        <span class="MoveBar"></span>
        <span>ITEM</span>
        <span>FUNCIONARIO</span>
        <input type="checkbox" name=".." id="..">
    </div>
    <section>
        <div class="RegistProduto">
            <div class="Card">
                <img src="" alt="">
                <div>
                    <div class="UnicBar">TITULO</div>
                    <div class="UnicBar">TAGS</div> 
                    <div class="UnicBar">DESCRICAO</div>
                    <div class="Vlr">
                        <div>VALOR</div>
                        <button>ADD</button>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="InpRadios">
                    <div>
                        <input class="RadioVisi" type="radio" name="Radio1" id="" checked="checked">
                        <span class="SpanVisi"></span>
                    </div>
                    <div>
                        <input class="RadioSist" type="radio" name="Radio1" id="">
                        <span class="SpanSist"></span>
                    </div>
                    <div>
                        <input class="RadioOrgn" type="radio" name="Radio1" id="">
                        <span class="SpanOrgn"></span>
                    </div>
                </div>
                <div class="Visivel">
                    <h4>VISIVEL CATALOGO</h4>
                    <label for="Nome">NOME</label>
                    <input required type="text" name="IpnNm" id="Nome">

                    <label for="Descr">DESCRIÇÃO</label>
                    <input required type="text" name="IpnDesc" id="Descr">

                    <label for="Tag">TAGS</label>
                    <input required type="text" name="IpnTag" id="Tag">

                    <label for="Img">IMAGEM</label>
                    <input required type="file" accept=".jpg, .jpgs, .png" name="IpnImg" id="Img">
                </div>
                <div class="Sistema">
                    <h4>SISTEMA</h4>
                    <label for="Qnt">QUANTIDADE</label>
                    <input required type="number" name="IpnQnt" id="Qnt">

                    <label for="Vlr">VALOR</label>
                    <input required type="number" name="IpnVlr" id="Vlr">
                </div>
                <div class="Organizacao">
                    <h4>ORGANIZAÇÃO</h4>
                    <label for="Mark">MARCADOR</label>
                    <input required type="text" name="IpnMrk" id="Mark">

                    <label for="Marca">MARCA</label>
                    <input required type="text" name="IpnMarca" id="Marca">

                    <label for="Esp">ESPECIFICAÇAO</label>
                    <input required type="text" name="IpnEsp" id="Esp">

                    <button type="submit">[REGISTRAR / ATUALIZAR]</button>
                </div>
            </form>
        </div>
        <div class="RegistFuncionario">
            <form action="">
                <h3>[EDIT / CRIAR] FUNCIONARIO</h3>
                <div class="Visivel">
                    <label for="Nome">NOME</label>
                    <input required type="text" name="IpnNome" id="Nome">

                    <label for="Acc">ACESSO</label>
                    <input required type="text" name="IpnAcc" id="Acc">

                    <label for="Sen">SENHA</label>
                    <input required type="text" name="IpnSen" id="Sen">

                    <label for="Tip">TIPO</label>
                    <input required type="number" name="IpnTip" id="Tip">
                </div>
                <button type="submit">[REGISTRAR / ATUALIZAR]</button>
            </form>
        </div>
    </section>
</body>
</html>