*{margin: 0;padding: 0; font-family: Inter;}
:root{
    --NavBar:rgb(97, 108, 97);
    --BotaoNavBar:rgb(125,125,125);
    --Card:rgb(200,180,180);
    --BorderCard:rgb(180,160,160);
    --MenuCelular:rgb(0,0,0,.9);
    --aOpenMenu:rgb(0,0,0);
    --CorDeFundo:#ffffff;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--CorDeFundo);
    overflow-x: hidden;
}
.main{width: 100vw;}

/* NAV BAR */
nav{
    height:100px;
    background-color: #FFE458;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}
nav .SearchBar{position: relative;}
nav .SearchBar input{
    outline: none;
    width: 350px;
    height: 25px;
    padding: 0 30px 0 5px;
    border: 1px solid #000000;
}
nav .SearchBar img{
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 2px;
    border-left: 2px solid #999999;
    top: 2.5px;
    right:2.5px;
}
nav .Carrinho img{
    width: 100%;
    height: 100%;
}
nav .Carrinho{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;right: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #edd34f;
}
nav .Home img{
    width: 100%;
    height: 100%;
}
nav .Home{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;left: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #edd34f;
}

h3{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
/* CARD */
.Catalogo{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #D9D9D9;
}
.Card{
    width: calc(50% - 20px);
    height: 120px;
    margin: 10px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
}
.Card img{
    margin: 5px;
    width: 110px;
    height: 110px;
    background-color: #8F8F8F;
}
.Card > div{width: calc(100% - 125px);}
.Card > div > *{
    width: 100%;
    margin: 9px 0px;
    background-color: #8F8F8F;
    color: white;
} 
.Card > div > .UnicBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Card > div > .Vlr{
    display: flex;
    position: relative;
    background-color: #F3F3F3;}
.Card > div > .Vlr div{
    width: calc(80% - 5px);
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #8F8F8F;
    color: white;

}
.Card > div > .Vlr button{
    position: absolute;
    right: 2px;
    border: 0;
    width: 20%;
    height: 100%;
    background-color: #24Ff13;
    color: #24Ff13;
    border-radius: 10px;
}

/*.CardNews,*/.Catalogo, nav, footer{ 
    width: calc(100% - 300px);
    margin-left: 150px;
}

/* FOOTER */
footer{
    margin-top: 20px;
    height: 150px;
    background-color: #242424;
}