<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO ITENS</title>
</head>
<body>
    <nav>
        <div class="SearchBar">
            <input #InputSearch type="text">
            <img (click)="Pesquisar()" src="../../assets/Lupa.png" alt="">
        </div>
        <a href="" class="Carrinho"><img src="../../assets/Carrinho.png" alt=""></a>
        <a href="" class="Home"><img src="../../assets/Home.png" alt=""></a>
    </nav>
    <h3 class="TituloMarker">{{valorRecebido}}</h3>
    <section *ngFor="let Mrk of ITENS" class="Result">
        <h3 class="TituloMarker">{{Mrk.ID}}</h3>
        <div class="Catalogo">
            <div *ngFor="let I of Mrk.ITENS" class="Card">
                <img src="" alt="">
                <div>
                    <div class="UnicBar">{{I.NOME}}</div>
                    <div class="UnicBar">{{I.TAGS}}</div> 
                    <div class="UnicBar">{{I.DESCRCAO}}</div>
                    <div class="Vlr">
                        <div>{{I.VALOR}}</div>
                        <button>ADD</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>