<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO ITENS</title>
    <link rel="stylesheet" href="Estilo.Css">
</head>
<body>
    <nav>
        <div class="SearchBar">
            <input type="text">
            <img src="../IMAGENS_COMPARTILHADAS/Lupa.png" alt="">
        </div>
        <a href="" class="Carrinho"><img src="../IMAGENS_COMPARTILHADAS/Carrinho.png" alt=""></a>
        <a href="" class="Home"><img src="../IMAGENS_COMPARTILHADAS/Home.png" alt=""></a>
    </nav>
    <h3 class="TituloMarker">TITULOOO</h3>
    <div class="Catalogo">
        <div class="Card">
            <img src="" alt="">
            <div>
                <div class="UnicBar">TITULO</div>
                <div class="UnicBar">tags</div> 
                <div class="UnicBar">DESCRICAO</div>
                <div class="Vlr">
                    <div>VALOR</div>
                    <button>ADD</button>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>